@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_base/typography";
@import "./_utils/variables";

@import "./_components/buttons";
@import "./_layout/header";
@import "./pages/contact";

body{
    font-family: 'Roboto Mono', monospace;
    background-color: $beige;
    margin: 0;
    padding: 0;
    

    
//! ------------ First page ----------------
    
    .bloc-titre {
        text-align: center;
        background-position: center;
        background-size: cover;
        height: 100vh;

        .titre {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 900;
            font-size: 36px;
            padding: 10px;
        }

        .sous-titre{
            font-size: 24px;
            margin-top: 60px;
        }
    }

//! ------------- PROPRIETES DE LA PAGE ------------------

    .nom-titre{
        color: $grey;
    }
    .background-image {
        background-image: url("../asset/banniere.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 100vh;
        width: 100vw;
    }
    
    .titre-green{
        color: $pink;
        font-weight: 400;
    }

    
//!CV INTRO----------------------------------------------------------------------------------------
    
    #background-color{
        background-color: $beige;
    }
    
    .intro{
        .profil{
            border-radius: 50%;
            
        }
        
        .text-accroche-1{
            color: $grey;
            font-weight: 500 !important;
            font-weight: 100;
            line-height: 40px;
        }
        
        .text-accroche-2{
            font-weight: 500 !important;
            color: $grey;
            font-weight: 100;
        }
        
        .text{
            font-weight: 500 !important;
            color: $grey;
            font-weight: 100;
            font-size: 22px;
        }
        
        .sous-titre{
            font-weight: 500 !important;
            color: $grey;
        }
        
        .list-1{
            font-weight: 500 !important;
            color: $grey;
            font-weight: 100;
            font-size: 20px;
        }
        
        .puce-1{
            margin-top: 10px;
        }
    }
    
    
//!CV COMPET------------------------------------------------------------------------------------------------
    .compet{
        border-bottom: 5px solid $blue;
        border-top: 5px solid $blue;
    }
        .name{
        font-weight: 500 !important;
        color: $grey;
        font-size: 22px;
    }
    .img-icone {
        width: 80px;
        height: auto;
        margin-bottom: 30px;
    }
    
    
    
    //!CV PROJETS---------------------------------------------------------------------------------------
    .titre-projet{
        font-size: 22px;
        color: $pink;
    }
    sous-titre{
        font-weight: 500 !important;
        color: $grey;
    }


}